



{% extends 'index.html' %}

{% block title %}Filter-Employee{% endblock %}

{% block content %}

<h2>Filter Employees</h2>

<!-- Filter Form -->
<form method="GET">
    <label for="department">Department:</label>
    <select name="department">
        <option value="all">All</option>
        {% for dept in departments %}
        <option value="{{ dept.id }}" {% if request.GET.department == dept.id|stringformat:"s" %}selected{% endif %}>
            {{ dept.name }}
        </option>
        {% endfor %}
    </select>

    <label for="role">Role:</label>
    <select name="role">
        <option value="all">All</option>
        {% for role in roles %}
        <option value="{{ role.id }}" {% if request.GET.role == role.id|stringformat:"s" %}selected{% endif %}>
            {{ role.name }}
        </option>
        {% endfor %}
    </select>

    <label for="min_salary">Min Salary:</label>
    <input type="number" name="min_salary" value="{{ request.GET.min_salary }}">

    <label for="max_salary">Max Salary:</label>
    <input type="number" name="max_salary" value="{{ request.GET.max_salary }}">

    <button type="submit">Filter</button>
</form>

<h3>Filtered Employees:</h3>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Role</th>
        <th>Salary</th>
    </tr>
    {% for emp in employees %}
    <tr>
        <td>{{ emp.first_name }} {{ emp.last_name }}</td>
        <td>{{ emp.dept.name }}</td>
        <td>{{ emp.role.name }}</td>
        <td>{{ emp.salary }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No employees found</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}
